<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PLANTAS MEDICINALES
    </ion-title>
  </ion-toolbar>
</ion-header>

    <!--<ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>-->
    <ion-content color="success">
      <ion-slides pager="true" [options]="{autoplay:true,zoom:true,loop:true}">
            <ion-slide *ngFor="let slide of slides;">
              <img src="assets/{{slide}}">>
              </ion-slide>
          </ion-slides>       
  <!-- List of Text Items -->
<ion-list >
  <ion-item color="success" (click)='enviar_planta(planta)' *ngFor="let planta of plantas;">
    <ion-label >{{planta.nombre}}</ion-label>
  </ion-item>
  <!--<ion-item>
    <ion-label>COCA</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>ANIZ</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>EUCALIPTO</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>LAMPAZO</ion-label>
  </ion-item>-->
</ion-list>
<ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.instagram.com/kazumihakuri/"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.facebook.com/profile.php?id=100001303396566"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button href="https://www.youtube.com/channel/UCqWWhy0fMbpyCyCuytch9RA?view_as=subscriber"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
    </ion-fab-list>
    
  </ion-fab>
  <ion-item>
  <ion-label>Comentarios</ion-label>
  <ion-textarea [(ngModel)]="mensaje" rows="6" cols="20" placeholder="envienos algunas sugerencias para mejorar!!!..."></ion-textarea>
</ion-item>
  <ion-item>
  <ion-textarea clearOnEdit="true"></ion-textarea>
  <ion-button expand="block" (click)="enviar('hola2')">Enviar</ion-button>
</ion-item>

</ion-content>
